@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700");
body{
    background-color: rgb(254,209,46);
    font-family: 'jason';
}
/* br{
    text-align: center;
    display: block;
} */
@font-face {
    font-family: 'jason';
    src: url(JasonHandwriting1.ttf)format("truetype");
}
@font-face{
    font-family: 'chen';
    src: url(ChenYuluoyan-Thin.ttf)format("truetype");
}
#topic{
    text-align: center;
    font-family: 'chen';
}
.horizontal_menu{
    display: flex;
    list-style: none;
    padding:0;
    font-size: large;
    
}
#products{
    font-size: large;
    font-family: 'jason';
    color: rgb(255,236,193);
    padding:0;
    border: 0;
}
ul{
    /* align-items: center; */
    list-style: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    width: 700px;
    background-color: rgb(167,105,46);
    justify-items:center;
}
li{
    float: left;
    display: flex;
    align-items: center;
    justify-content: center; 
}
li a {
    color: rgb(255,236,193);
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li a:hover{
    background-color: rgb(84,92,147);
}
select{
    background-color: rgb(167,105,46);
}
#pic{
    margin:0px;
    margin-right:112px;
    margin-left: 50px;
}
img{
    width: 200px;
    height: 200px;

}
#introduce{
    width:690px;
    /* display:flex; */
    /* align-items:center; */
    border: 5px double #1C6EA4;
    text-align: center;
}
#introduce_container{
    display: flex;

}
